<div class="canvaswrapper">
    <canvas id="gameCanvas" class="gamecanvas"></canvas>
</div>
<div id="gamemenu" class="gamemenu">
    <div class="gamemenuitem" id="gameactionbtn">
        <img src="../../assets/icons/guessicon.png" class="gamemenuitemicon">
        <div class="gamemenuitemlabel">Action</div>
    </div>    
    <div class="gamemenuitem" id="gamehandbtn">
        <img src="../../assets/icons/cardsicon.png" class="gamemenuitemicon">
        <div class="gamemenuitemlabel">Hand</div>
    </div>
    <div class="gamemenuitem" id="gamesheetbtn">
        <img src="../../assets/icons/sheeticon.png" class="gamemenuitemicon">
        <div class="gamemenuitemlabel">Sheet</div>
    </div>
    <div class="gamemenuitem" id="gamemessagebtn">
        <div class="chat-notification hidden" id="chatnotification">New</div>        
        <img src="../../assets/icons/chaticon.png" class="gamemenuitemicon">
        <div class="gamemenuitemlabel">Messages</div>
    </div>
</div>
<div id="ui-layer">
    <%- include("modals/draggableModal", {
        id: "gameactionModal",
        title: "Action",
        content: include("modals/gameactionContent")
    }) %>

    <%- include("modals/draggableModal", {
        id: "gamehandModal",
        title: "Your Hand",
        content: include("modals/gamehandContent")
    }) %> 
    
    <%- include("modals/draggableModal", {
        id: "gamesheetModal",
        title: "Detective Sheet",
        content: include("modals/gamesheetContent", { users: typeof users !== "undefined" ? users : [] })
    }) %>   
    
    <%- include("modals/draggableModal", {
        id: "gamemessageModal",
        title: "Messages",
        content: include("modals/gamemessageContent")
    }) %>
    <%- include("./partials/modals/draggableModal", {
        id: "settingsModal",
        title: "Settings",
        content: include("./partials/modals/settingsContent")
    }) %>     
</div>